.container {
  width: 1000px;
  margin: 0 auto;
}

.box {
  height: 150px;
}


header {
  background: red;
}

main {
  background: yellow;
  float: left;
  width: 600px;
}

aside {
  background: green;
  width: 400px;
  float: right;

}

footer {
  background: blue;
  width: 1000px;
}

.clear {
  clear: both;
}


