body {
  font-family: "Merriweather", serif;
  width: 1200px;
  background-color: #eeeeee;
}
.header {
  background: rgb(0,0,0);
  border-bottom: 5px solid rgb(255,255,0);
}
h1 {
  color: rgb(255,255,0);
  padding: 20px 0 20px 20px;
  font-size: 34px;
  float: left;
  margin: 0;
}
.nav {
  color: rgb(255,255,255);
  font-size: 20px;
  float: right;
}
.nav li {
  display: inline;
  padding: 15px;
  font-family: "Source Sans Pro";
}
.clear {
  clear: both;
}
.h2 {
  background: rgb(190,190,190);
  height: 50px;
  font-style: italic;
  text-align: center;
  font-size: 24px;
  padding: 20px 0 0 0;
}
#taste {
  color: rgb(150,150,150);
  text-decoration: line-through;
}
#are {
  border-bottom: 3px solid rgb(255,255,0);
}
.section {
  background-image: url("images/coworking.jpg");
  width: 1200px;
  height: 500px;
}
.sidebar {
  float: right;
  background: rgba(255,255,255,0.7);
  width: 400px;
  margin: 50px 50px 0 0;
  padding: 30px;
  box-shadow: 5px 5px 5px rgb(60,60,60);
}
.sidebar .h3 {
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 32px;
  margin: 0;
}
p {
  font-family: "Source Sans Pro";
  font-size: 20px;
}
.button {
  width: 350px;
  text-align: center;
  margin: 0 auto;
}
.sidebar button {
  background-color: rgb(255,255,0);
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  margin: 0 0 10px 0;
  font-family: "Oswald";
  width: 350px;
}
.article {
  float: left;
  width: 340px;
  margin: 180px 0 0 0;
  padding: 20px;
  border-right: 1px solid rgb(200,200,200);
}
.h4 {
  font-size: 26px;
  font-weight: bold;
}
.last {
  border: none;
  margin: 40px 0 0 0;
}
.article button {
  background-color: rgb(190,190,190);
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  margin: 0 0 10px 0;
  font-family: "Oswald";
  width: 350px;
}
.footer {
  background-color: rgb(0,0,0);
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(190,190,190);
  margin: 30px 0 0 0;
}